.expo/
node_modules/
android/SimiCart.iml
android/app/app.iml
ios/SimiCart.xcodeproj/xcuserdata/glenn.xcuserdatad/xcschemes/xcschememanagement.plist
ios/SimiCart.xcworkspace/contents.xcworkspacedata
ios/SimiCart.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/SimiCart.xcworkspace/xcuserdata/glenn.xcuserdatad/UserInterfaceState.xcuserstate
ios/SimiCart.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ios/SimiCart.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/SimiCart.xcodeproj/project.xcworkspace/xcuserdata/glenn.xcuserdatad/UserInterfaceState.xcuserstate
ios/SimiCart.xcodeproj/
ios/SimiCart.xcworkspace/
ios/Pods/
android/.idea/
android/app/build/
android/.project
android/app/.project
android/app/bin/src/main/java/com/simicart/MainActivity.class
android/app/bin/src/main/java/com/simicart/MainApplication.class
android/app/bin/src/main/java/com/simicart/wraper/NativeMethodModule$DeviceTokenAsync.class
android/app/bin/src/main/java/com/simicart/wraper/NativeMethodModule.class
android/app/bin/src/main/java/com/simicart/wraper/NativeMethodPackage.class
android/build.gradle
android/gradle.properties
android/local.properties
android/settings.gradle
android/.gradle/5.4.1/gc.properties
android/.gradle/5.4.1/fileChanges/last-build.bin
android/.gradle/5.4.1/fileContent/fileContent.lock
android/.gradle/5.4.1/fileHashes/fileHashes.bin
android/.gradle/5.4.1/fileHashes/fileHashes.lock
android/.gradle/6.9.1/gc.properties
android/.gradle/6.9.1/executionHistory/executionHistory.bin
android/.gradle/6.9.1/executionHistory/executionHistory.lock
android/.gradle/6.9.1/fileChanges/last-build.bin
android/.gradle/6.9.1/fileHashes/fileHashes.bin
android/.gradle/6.9.1/fileHashes/fileHashes.lock
android/.gradle/6.9.1/fileHashes/resourceHashesCache.bin
android/.gradle/6.9.1/javaCompile/classAnalysis.bin
android/.gradle/6.9.1/javaCompile/jarAnalysis.bin
android/.gradle/6.9.1/javaCompile/javaCompile.lock
android/.gradle/6.9.1/javaCompile/taskHistory.bin
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/buildOutputCleanup/cache.properties
android/.gradle/buildOutputCleanup/outputFiles.bin
android/.gradle/checksums/checksums.lock
android/.gradle/checksums/md5-checksums.bin
android/.gradle/checksums/sha1-checksums.bin
android/.gradle/vcs-1/gc.properties
android/.idea/.name
android/.idea/compiler.xml
android/.idea/gradle.xml
android/.idea/jarRepositories.xml
android/.idea/misc.xml
android/.idea/workspace.xml
android/app/build/generated/res/google-services/debug/values/values.xml
android/app/build/generated/res/resValues/debug/values/gradleResValues.xml
android/app/build/generated/rncli/src/main/java/com/facebook/react/PackageList.java
android/app/build/generated/source/buildConfig/debug/com/simicart/BuildConfig.java
android/app/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
android/app/build/intermediates/app_metadata/debug/app-metadata.properties
android/app/build/intermediates/compatible_screen_manifest/debug/output-metadata.json
android/app/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
android/app/build/intermediates/incremental/mergeDebugShaders/merger.xml
android/app/build/intermediates/navigation_json/debug/navigation.json
android/app/build/intermediates/signing_config_versions/debug/signing-config-versions.json
android/app/src/main/assets/index.android.bundle
android/app/src/main/res/drawable-mdpi/src_customize_images_account.png
android/app/src/main/res/drawable-mdpi/src_customize_images_cart.png
android/app/src/main/res/drawable-mdpi/src_customize_images_cate.png
android/app/src/main/res/drawable-mdpi/src_customize_images_checked.png
android/app/src/main/res/drawable-mdpi/src_customize_images_clipboard.png
android/app/src/main/res/drawable-mdpi/src_customize_images_down.png
android/app/src/main/res/drawable-mdpi/src_customize_images_home.png
android/app/src/main/res/drawable-mdpi/src_customize_images_info.png
android/app/src/main/res/drawable-mdpi/src_customize_images_list.png
android/app/src/main/res/drawable-mdpi/src_customize_images_phone.png
android/app/src/main/res/drawable-mdpi/src_customize_images_setting.png
android/app/src/main/res/raw/node_modules_domserializer_node_modules_entities_lib_maps_decode.json
android/app/src/main/res/raw/node_modules_domserializer_node_modules_entities_lib_maps_entities.json
android/app/src/main/res/raw/node_modules_domserializer_node_modules_entities_lib_maps_legacy.json
android/app/src/main/res/raw/node_modules_domserializer_node_modules_entities_lib_maps_xml.json
android/app/src/main/res/raw/node_modules_nativebase_dist_src_basic_icon_selection.json
android/app/src/main/res/raw/node_modules_nativebase_node_modules_reactnativevectoricons_glyphmaps_feather.json
android/app/src/main/res/raw/node_modules_nativebase_node_modules_reactnativevectoricons_glyphmaps_fontawesome5free_meta.json
android/app/src/main/res/raw/node_modules_nativebase_node_modules_reactnativevectoricons_glyphmaps_fontawesome5free.json
android/app/src/main/res/raw/node_modules_nativebase_node_modules_reactnativevectoricons_glyphmaps_fontisto.json
android/app/src/main/res/raw/node_modules_nativebase_node_modules_reactnativevectoricons_glyphmaps_ionicons.json
android/app/src/main/res/raw/node_modules_nativebase_node_modules_reactnativevectoricons_glyphmaps_materialcommunityicons.json
android/app/src/main/res/raw/node_modules_nativebase_node_modules_reactnativevectoricons_glyphmaps_materialicons.json
android/gradle/wrapper/gradle-wrapper.properties
android/build.gradle
android/gradle.properties
android/settings.gradle
android/.idea/workspace.xml
android/app/src/main/res/raw/node_modules_domserializer_node_modules_entities_lib_maps_decode.json
android/app/src/main/res/raw/node_modules_domserializer_node_modules_entities_lib_maps_entities.json
android/app/src/main/res/raw/node_modules_domserializer_node_modules_entities_lib_maps_legacy.json
android/app/src/main/res/raw/node_modules_domserializer_node_modules_entities_lib_maps_xml.json
android/app/src/main/res/raw/node_modules_nativebase_node_modules_reactnativevectoricons_glyphmaps_feather.json
android/app/src/main/res/raw/node_modules_nativebase_node_modules_reactnativevectoricons_glyphmaps_fontawesome5free_meta.json
android/app/src/main/res/raw/node_modules_nativebase_node_modules_reactnativevectoricons_glyphmaps_fontawesome5free.json
android/app/src/main/res/raw/node_modules_nativebase_node_modules_reactnativevectoricons_glyphmaps_ionicons.json
android/app/src/main/res/raw/node_modules_nativebase_node_modules_reactnativevectoricons_glyphmaps_materialcommunityicons.json
android/app/src/main/res/raw/node_modules_nativebase_node_modules_reactnativevectoricons_glyphmaps_materialicons.json
android/gradle/wrapper/gradle-wrapper.properties
